.announcement-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: $secondary-color;

  @media (max-width: $md) {
    flex-flow: column;
    gap: 0.625rem;
    padding: 0.625rem 1rem;
  }

  &__contact {
    display: flex;
    align-items: center;
    gap: 2rem;

    @media (max-width: $md) {
      gap: 1rem;
    }

    &-detail,a {
      display: flex;
      align-items: end;
      gap: 0.625rem;
      color: $white-color;
      line-height: 1;

      @media (max-width: $md) {
        font-size: 0.75rem;
      }

      svg {
        min-width: 1.25rem;
        min-height: 1.25rem;

        @media (max-width: $md) {
          min-width: 1rem;
          min-height: 1rem;
        }
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 0.625rem;

    a {
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      transition: all 0.3s;

      @media (max-width: $md) {
        width: 1.875rem;
        height: 1.875rem;
      }

      svg {
        width: 1rem;
        height: 1rem;

        @media (max-width: $md) {
          width: 0.8125rem;
          height: 0.8125rem;
        }
      }

      &:hover {
        background: rgba(255, 255, 255, 0.3);
      }
    }
  }
}
