.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  min-height: 31.25rem;
  gap: 0.625rem;
  position: relative;

  .h1 {
    text-transform: capitalize;
  }

  @media (max-width: $lg) {
    min-height: 25rem;
  }

  @media (max-width: $md) {
    min-height: 18.75rem;
  }

  .primary-body-text {
    color: $white-color;
    font-size: 1.25rem;
    text-align: center;

    @media (max-width: $lg) {
      font-size: 1rem;
    }

    @media (max-width: $md) {
      font-size: 0.875rem;
    }
  }

  &__bg {
    img,
    &-video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -3;
      object-fit: cover;
    }

    &::after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(36, 36, 36, 0.9);
    }
  }
}
