.single-post,.single-page{
  .banner{
    h1,.h1{
      font-size: 3.25rem;
      line-height: 3.25rem;
      text-align: center;
    }
  }
}
.blog {
  padding-block: 7.5rem;
  background-color: #f4f4f4;
  display: flex;

  &__article {
    width: 70%;
    padding-inline: 3.125rem;
    p {
      margin-block: 0.3125rem;
      color: $steel-blue-color;
      @extend .secondary-body-text;
    }
    h2{
      @extend .h2;
    }

    h3 {
      margin-block: 1.5625rem;
      font-size: 1.5625rem;
      font-weight: $bold;
      @extend .h3;
    }

    ul {
      padding-left: 1.875rem;
      margin-block: 1.5625rem;

      li {
        list-style: disc;
        @extend .secondary-body-text;

        &::marker {
          color: $secondary-color;
        }
      }
    }
    ol {
      padding-left: 1.875rem;
      margin-block: 1.5625rem;

      li {
        list-style: decimal;
        @extend .secondary-body-text;

        &::marker {
          color: $secondary-color;
        }
      }
    }

    img {
      display: block;
      width: 100%;
      height: 34.375rem;
      object-fit: cover;
      margin-block: 2rem;
    }

    a {
      display: block;
      color: $black-color;
      text-decoration: underline;
      margin-block: 1rem;
    }
  }

  &__sidebar {
    width: 30%;
    padding-inline: 0.625rem;

    h3 {
      margin-bottom: 1.875rem;
      @extend .h3;
    }

    &-col,.widget_block {
      padding: 3.125rem;

      ul {
        li {
          padding-bottom: 0.625rem;
          margin-bottom: 0.625rem;

          a {
            color: $secondary-color;
            text-decoration: underline;
            font-size: 1rem;
            line-height: 1.75rem;
          }
        }
      }
    }
  }
}
