.email-signup {
  display: flex;
  justify-content: flex-start;
  background-color: $ebony-color;

  @media (max-width: $md) {
    flex-flow: column;
  }

  &__image {
    display: flex;
    width: 50%;

    @media (max-width: $md) {
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media (max-width: $md) {
        max-height: 18.75rem;
      }
    }
  }

  &__content {
    width: 50%;
    padding: 6.25rem;

    @media (max-width: $xlg) {
      padding: 3rem;
    }

    @media (max-width: $lg) {
      padding: 2.5rem;
    }

    @media (max-width: $md) {
      width: 100%;
      padding: 2.5rem 1.5rem;
    }

    &-title {
      color: $white-color;
      margin-bottom: 6.25rem;

      @media (max-width: $xlg) {
        margin-bottom: 5rem;
      }

      @media (max-width: $lg) {
        margin-bottom: 3rem;
      }

      @media (max-width: $md) {
        margin-bottom: 2rem;
      }
    }

    &-desc {
      color: $white-color;
      margin-bottom: 1.875rem;

      @media (max-width: $xlg) {
        margin-bottom: 1.5rem;
      }

      @media (max-width: $md) {
        margin-bottom: 1rem;
      }
    }

    &-input {
      display: flex;
      gap: 1.25rem;
      justify-content: center;

      input{
        font-family: $primary-font;
        padding: 0.625rem 1.875rem;
        width: 75%;
        font-size: 1.125rem;
        background-color: $primary-color;
        border: 0.125rem solid $secondary-color;
        border-radius: 0.625rem;
        color: $white-color;
        outline: none;

        &:focus-visible {
          outline: none;
        }

        @media (max-width: $xlg) {
          padding: 0.5rem 1.5rem;
          font-size: 1rem;
        }
      }

      .btn {
        letter-spacing: 0.05rem;
        width: 25%;
        padding-inline: 0;

        @media (max-width: $md) {
          padding-block: 1rem;
        }
      }
    }
  }
}

.email-signup div.wpforms-container-full input[type=email] {
  font-family: $primary-font;
  padding: 0.625rem 1.875rem;
  width: 100%;
  font-size: 1.125rem;
  background-color: $primary-color;
  border: 0.125rem solid $secondary-color;
  border-radius: 0.625rem;
  color: $white-color;
  outline: none;
  height: 70px;

  &:focus-visible {
    outline: none;
  }

  @media (max-width: $xlg) {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    height: 60px;
  }
  @media (max-width: $md) {
    height: 48px;
  }

}
.email-signup div.wpforms-container-full button[type=submit]{
    letter-spacing: 0.05rem;
    // width: auto;
    height: auto;
    margin-left: auto;
    padding-inline: 0;
    padding: 1.5625rem 1.5rem;
    background-color: $secondary-color !important;
    color: #fff;
    outline: none;
    border-radius: 0.3125rem;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s linear;
    border: 2px solid transparent;
    font-family: "Epilogue",sans-serif;
    animation: light-pulse 3s infinite linear;

    &:hover{
      background: $white-color !important;
      color: $secondary-color;
      border-color: $secondary-color;
    }
    @media (max-width: $xlg) {
      padding: 1.25rem 1.15rem;
    }
    @media (max-width: $md) {
      padding: 0.825rem 1rem;
      font-size: 0.75rem;
    }
}

div.wpforms-container-full .wpforms-confirmation-container-full, div[submit-success]>.wpforms-confirmation-container-full:not(.wpforms-redirection-message){
  background-color: $secondary-color !important;
  border-color: $secondary-color !important;
  color: $white-color !important;
}
.email-signup .wpforms-container.inline-fields .wpforms-form{
  gap: 20px;
}
.email-signup div.wpforms-container-full .wpforms-form .wpforms-submit-container{
  margin: auto 0;
  padding-top: 0;
  width: 140px;
}
.email-signup .wpforms-container.inline-fields{
  overflow: visible;
}
.email-signup .wpforms-field-email{
  width: 100%;
}
.email-signup .wpforms-container.inline-fields .wpforms-field-container{
  width: calc(100% - 90px);
}
.wpforms-container ::-webkit-input-placeholder { /* Chrome and Safari */
  color: #aaa !important;
}

.wpforms-container :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #aaa !important;
  opacity: 1 !important;
}

.wpforms-container ::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #aaa !important;
  opacity: 1 !important;
}

.wpforms-container :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #aaa !important;
}

.wpforms-container ::-ms-input-placeholder { /* Microsoft Edge */
  color: #aaa !important;
}

.wpforms-container ::placeholder {
  color: #aaa !important;
}