.featured-blog {
  padding-block: 6.875rem;

  @media (max-width: $xlg) {
    padding-block: 5rem;
  }

  @media (max-width: $lg) {
    padding-block: 4rem;
  }

  @media (max-width: $md) {
    padding-block: 3.2rem;
  }

  @media (max-width: $sm) {
    padding-block: 2.5rem;
  }

  &__title {
    max-width: 53.125rem;
    text-transform: capitalize;
    margin-bottom: 3.125rem;

    @media (max-width: $xlg) {
      max-width: 42.5rem;
      margin-bottom: 2.5rem;
    }

    @media (max-width: $lg) {
      margin-bottom: 2rem;
    }

    @media (max-width: $md) {
      margin-bottom: 1.25rem;
    }
  }

  &__sub-title {
    margin-bottom: 3.125rem;
    text-transform: uppercase;

    @media (max-width: $xlg) {
      margin-bottom: 2.5rem;
    }

    @media (max-width: $lg) {
      margin-bottom: 2rem;
    }

    @media (max-width: $md) {
      margin-bottom: 1.25rem;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    letter-spacing: 0.05rem;
    margin-left: auto;
    width: max-content;

    span {
      display: flex;
      svg {
        width: 1rem;
        height: 1rem;

        @media (max-width: $md) {
          width: 0.625rem;
          height: 0.625rem;
        }
      }
    }

    &:hover svg path {
      fill: $secondary-color;
    }
  }

  &__blog {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    margin-top: 12rem;
    flex-wrap: wrap;

    @media (max-width: $xlg) {
      margin-top: 9.6rem;
    }

    @media (max-width: $lg) {
      gap: 5rem 1.5rem;
      margin-top: 5.6rem;
    }

    @media (max-width: $md) {
      gap: 1.5rem;
      margin-top: 1.5rem;
    }

    &-card {
      width: calc(33.33% - 1rem);
      padding: 1.875rem;
      border-radius: 1.25rem;
      background: $white-color;
      box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
      transition: 0.3s all linear;
      cursor: pointer;

      @media (max-width: $xlg) {
        padding: 1.5rem;
      }

      @media (max-width: $lg) {
        width: calc(50% - 1rem);
      }

      @media (max-width: $md) {
        width: 100%;
      }

      &:hover {
        background: $secondary-color;
      }

      &:hover &-image {
        img {
          transform: translateY(-50%);

          @media (max-width: $md) {
            transform: translateY(-10%);
          }
        }
      }

      &:hover &-title,
      &:hover &-desc,
      &:hover &-link {
        color: $white-color;
      }

      &:hover &-hr {
        background: $white-color;
      }

      &-image {
        display: flex;
        height: 17.1875rem;

        @media (max-width: $xlg) {
          height: 12rem;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 1.25rem;
          transform: translateY(-30%);
          transition: 0.2s all linear;

          @media (max-width: $md) {
            transform: translateY(0);
          }
        }
      }

      &-hr {
        margin-bottom: 1.25rem;
        background: transparent;
        width: 100%;
        height: 0.125rem;
      }

      &-title {
        margin-bottom: 1.25rem;
        letter-spacing: -0.05rem;
        transition: 0.2s all linear;

        @media (max-width: $xlg) {
          margin-bottom: 1rem;
        }
      }

      &-desc {
        color: $steel-blue-color;
        margin-bottom: 3.125rem;
        transition: 0.2s all linear;

        @media (max-width: $xlg) {
          margin-bottom: 2.5rem;
        }
      }

      &-link {
        color: $black-color;
        text-transform: capitalize;
        font-weight: $semi-bold;
        letter-spacing: 0.05rem;
        transition: 0.2s all linear;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
