.hero {
  position: relative;
  min-height: 50rem;
  padding-block: 15rem 3.125rem;

  .bg-image,
  .bg-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    z-index: -2;
    object-fit: cover;
  }

  @media (max-width: $xlg) {
    min-height: 40rem;
    padding-block: 12rem 3.125rem;
  }

  @media (max-width: $lg) {
    min-height: 32rem;
    padding-block: 10rem 2rem;
  }

  @media (max-width: $md) {
    min-height: 25rem;
    padding-block: 8rem 1rem;
  }

  @media (max-width: $sm) {
    min-height: 23rem;
  }

  &::before {
    position: absolute;
    content: "";
    background: linear-gradient(to bottom, #171717, #17171749);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &::after {
    position: absolute;
    content: "";
    background: rgba(48, 48, 48, 0.26);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
  }

  &__content {
    &-sub-title {
      color: $white-color;
      margin-bottom: 4.375rem;

      @media (max-width: $xlg) {
        margin-bottom: 2rem;
      }

      @media (max-width: $lg) {
        margin-bottom: 1.25rem;
      }

      @media (max-width: $md) {
        margin-bottom: 1rem;
      }

      @media (max-width: $sm) {
        text-align: center;
        margin-bottom: 0.625rem;
      }
    }

    &-title {
      margin-bottom: 10rem;
      max-width: 43.75rem;
      text-transform: capitalize;

      @media (max-width: $xlg) {
        max-width: 35rem;
        margin-bottom: 8rem;
      }

      @media (max-width: $lg) {
        max-width: 28rem;
        margin-bottom: 4rem;
      }

      @media (max-width: $md) {
        max-width: 22.4rem;
        margin-bottom: 3.2rem;
      }

      @media (max-width: $sm) {
        max-width: 100%;
        margin: 0 auto 1rem;
        text-align: center;
      }

      span {
        color: $secondary-color;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.625rem;
      max-width: max-content;

      @media (max-width: $sm) {
        margin-inline: auto;
      }

      span {
        display: flex;
        svg {
          width: 1rem;
          height: 1rem;

          @media (max-width: $md) {
            width: 0.75rem;
            height: 0.75rem;
          }
        }
      }

      &:hover svg path {
        fill: $secondary-color;
      }
    }
  }
}
