.marketing {
  padding-block: 6rem 3.75rem;
  background: $secondary-color;

  @media (max-width: $xlg) {
    padding-block: 4.8rem;
  }

  @media (max-width: $lg) {
    padding-block: 3.8rem;
  }

  @media (max-width: $md) {
    padding-block: 3rem;
  }

  &__title {
    text-align: center;
    margin-bottom: 6.25rem;

    @media (max-width: $xlg) {
      margin-bottom: 5rem;
    }

    @media (max-width: $lg) {
      margin-bottom: 4rem;
    }

    @media (max-width: $md) {
      margin-bottom: 0.625rem;
    }
  }

  &__row {
    display: flex;
    justify-content: flex-start;

    @media (max-width: $md) {
      flex-flow: column;
      gap: 1.5625rem;
      padding-block: 2rem;
    }

    &:not(:last-child) {
      margin-bottom: 1.25rem;

      @media (max-width: $md) {
        margin-bottom: 0;
        border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.4);
      }
    }

    &-col {
      width: 33.33%;
      padding: 3.75rem;
      position: relative;

      @media (max-width: $xlg) {
        padding: 1.25rem;
      }

      @media (max-width: $lg) {
        padding: 1rem;
      }

      @media (max-width: $md) {
        padding: 0;
        width: 100%;
      }

      &:not(:last-child)::after {
        position: absolute;
        content: "";
        background: $white-color;
        width: 0.0625rem;
        height: 100%;
        top: 0;
        right: 0;
        opacity: 0.4;

        @media (max-width: $md) {
          display: none;
        }
      }

      &-heading {
        font-size: 1.5rem;
        line-height: 2.375rem;

        @media (max-width: $xlg) {
          font-size: 1.2rem;
          line-height: 1.9rem;
        }

        @media (max-width: $lg) {
          font-size: 1rem;
          line-height: 1.5rem;
        }

        @media (max-width: $md) {
          font-size: 1.25rem;
          font-weight: $bold;
        }
      }

      &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.25rem;

        @media (max-width: $lg) {
          margin-bottom: 0.875rem;
        }

        @media (max-width: $md) {
          margin-bottom: 0.625rem;
        }

        .inter-body-text {
          font-size: 2rem;
          line-height: 2.375rem;
          font-weight: $semi-bold;

          @media (max-width: $xlg) {
            font-size: 1.6rem;
            line-height: 1.9rem;
          }

          @media (max-width: $lg) {
            font-size: 1.125rem;
            line-height: 1.5rem;
          }

          @media (max-width: $md) {
            font-weight: $medium;
          }
        }

        a {
          min-width: 2.1875rem;
          min-height: 2.1875rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white-color;
          border: 0.125rem solid $white-color;
          border-radius: 50%;
          font-size: 1.25rem;
          font-weight: $bold;

          @media (max-width: $xlg) {
            min-width: 1.75rem;
            min-height: 1.75rem;
          }

          @media (max-width: $xlg) {
            min-width: 1.25rem;
            min-height: 1.25rem;
            font-size: 0.9375rem;
          }

          @media (max-width: $md) {
            min-width: 1.875rem;
            min-height: 1.875rem;
            font-size: 1.25rem;
            rotate: 310deg;
          }
        }
      }
    }
  }
}
