.team {
  text-align: center;
  padding-block: 7.5rem;

  @media (max-width: $xlg) {
    padding-block: 6rem;
  }

  @media (max-width: $lg) {
    padding-block: 4rem;
  }

  @media (max-width: $md) {
    padding-block: 3rem;
  }

  &__title-wrapper {
    margin-bottom: 3.75rem;
    max-width: 34.375rem;
    margin-inline: auto;

    @media (max-width: $md) {
      margin-bottom: 2.5rem;
    }

    @media (max-width: $sm) {
      margin-bottom: 1.25rem;
    }
  }

  &__sub-title {
    margin-bottom: 0.625rem;

    @media (max-width: $md) {
      margin-bottom: 0.125rem;
    }
  }

  &__cards {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5%;

    @media (max-width: $lg) {
      gap: 3.125rem;
    }

    &-card {
      width: 30%;
      padding: 2.5rem 1.875rem;
      border-radius: 1.25rem;
      background: $black-color;
      transition: 0.1s all linear;
      cursor: pointer;

      @media (max-width: $lg) {
        width: calc(50% - (3.125rem / 2));
      }

      @media (max-width: $md) {
        width: 100%;
        padding: 1rem;
      }

      &:hover {
        background: $secondary-color;

        .team__cards-card__image-social {
          bottom: 2rem;

          @media (max-width: $lg) {
            bottom: 1rem;
          }
        }

        .secondary-body-text {
          color: $white-color;
        }
      }

      &__image {
        position: relative;
        overflow: hidden;

        img {
          object-fit: cover;
          border-radius: 1.25rem;
          aspect-ratio: 13/12;

          @media (max-width: $md) {
            aspect-ratio: 16/9;
          }

          @media (max-width: $sm) {
            aspect-ratio: 16/10;
          }
        }

        &-social {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          width: 100%;
          position: absolute;
          left: 0;
          bottom: -3rem;
          transition: 0.1s all linear;

          @media (max-width: $sm) {
            gap: 0.625rem;
            bottom: -2rem;
          }

          a {
            width: 2.5rem;
            height: 2.5rem;
            background-color: $secondary-color;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0.3125rem;
            transition: 0.1s all linear;

            @media (max-width: $sm) {
              width: 1.5625rem;
              height: 1.5625rem;
            }

            &:hover {
              transform: scale(1.1);
            }

            svg {
              width: 1rem;
              height: 1rem;

              @media (max-width: $sm) {
                width: 0.75rem;
                height: 0.75rem;
              }
            }
          }
        }
      }

      .secondary-body-text {
        color: $steel-blue-color;
        font-size: 1.125rem;
        margin-block: 1rem 1.25rem;

        @media (max-width: $lg) {
          font-size: 1rem;
          margin-block: 0.625rem;
        }

        @media (max-width: $md) {
          font-size: 0.875rem;
          margin-block: 0.625rem 0.3125rem;
        }
      }

      .h3 {
        color: $white-color;
        font-size: 1.5rem;

        @media (max-width: $lg) {
          font-size: 1.125rem;
        }

        @media (max-width: $md) {
          font-size: 1rem;
        }
      }
    }
  }
}
