.announcement-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: $secondary-color;

  &__contact {
    display: flex;
    align-items: center;
    gap: 2rem;

    &-detail {
      display: flex;
      align-items: end;
      gap: 0.625rem;
      color: $white-color;
      line-height: 1;

      svg {
        min-width: 1.25rem;
        min-height: 1.25rem;
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 0.625rem;

    a {
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      transition: all 0.3s;

      svg {
        width: 1rem;
        height: 1rem;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.3);
      }
    }
  }
}
