.email-signup {
  display: flex;
  justify-content: flex-start;
  background-color: $ebony-color;

  @media (max-width: $md) {
    flex-flow: column;
  }

  &__image {
    display: flex;
    width: 50%;

    @media (max-width: $md) {
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-height: 18.75rem;
    }
  }

  &__content {
    width: 50%;
    padding: 6.25rem;

    @media (max-width: $xlg) {
      padding: 3rem;
    }

    @media (max-width: $lg) {
      padding: 2.5rem;
    }

    @media (max-width: $md) {
      width: 100%;
      padding: 2.5rem 1.5rem;
    }

    &-title {
      color: $white-color;
      margin-bottom: 6.25rem;

      @media (max-width: $xlg) {
        margin-bottom: 5rem;
      }

      @media (max-width: $lg) {
        margin-bottom: 3rem;
      }

      @media (max-width: $md) {
        margin-bottom: 2rem;
      }
    }

    &-desc {
      color: $white-color;
      margin-bottom: 1.875rem;

      @media (max-width: $xlg) {
        margin-bottom: 1.5rem;
      }

      @media (max-width: $md) {
        margin-bottom: 1rem;
      }
    }

    &-input {
      display: flex;
      gap: 1.25rem;
      justify-content: center;

      input {
        font-family: $primary-font;
        padding: 0.625rem 1.875rem;
        width: 75%;
        font-size: 1.125rem;
        background-color: $primary-color;
        border: 0.125rem solid $secondary-color;
        border-radius: 0.625rem;
        color: $white-color;
        outline: none;

        &:focus-visible {
          outline: none;
        }

        @media (max-width: $xlg) {
          padding: 0.5rem 1.5rem;
          font-size: 1rem;
        }
      }

      .btn {
        letter-spacing: 0.05rem;
        width: 25%;
        padding-inline: 0;
      }
    }
  }
}
