.featured-work {
  padding-block: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $xlg) {
    padding-block: 6.4rem;
    gap: 3.125rem;
  }

  @media (max-width: $lg) {
    padding-block: 5rem;
    flex-flow: column;
  }

  @media (max-width: $md) {
    padding-block: 4rem;
  }

  &__image {
    width: 50%;
    height: 40.625rem;
    display: flex;
    position: relative;

    @media (max-width: $xlg) {
      height: 32.5rem;
    }

    @media (max-width: $lg) {
      width: 100%;
    }

    @media (max-width: $md) {
      height: 20rem;
    }

    &-img {
      width: 100%;
      border-top-right-radius: 30%;
      border-bottom-left-radius: 30%;
      max-width: 28.125rem;
      margin-inline: auto;
      position: relative;
      z-index: 5;
      object-fit: cover;

      @media (max-width: $md) {
        border-top-right-radius: 11%;
        border-bottom-left-radius: 11%;
      }
    }

    &-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      max-width: 34.5rem;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }
  }

  &__content {
    width: 50%;

    @media (max-width: $lg) {
      width: 100%;
    }

    &-sub-title {
      text-transform: uppercase;
      margin-bottom: 1.25rem;

      @media (max-width: $xlg) {
        margin-bottom: 1rem;
      }

      @media (max-width: $lg) {
        margin-bottom: 0.3125rem;
      }
    }

    &-title {
      margin-bottom: 3rem;
      text-transform: capitalize;

      @media (max-width: $xlg) {
        margin-bottom: 2.4rem;
      }

      @media (max-width: $lg) {
        margin-bottom: 1rem;
      }
    }

    &-desc {
      margin-bottom: 3rem;
      font-weight: $light;

      @media (max-width: $xlg) {
        margin-bottom: 2.4rem;
      }

      @media (max-width: $lg) {
        margin-bottom: 1rem;
      }
    }
  }

  &__checkboxes {
    &-checkbox {
      display: flex;
      align-items: center;
      gap: 0.625rem;

      &:not(:last-child) {
        margin-bottom: 1.25rem;
      }

      &-wrapper {
        min-width: 1.25rem;
        min-height: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $secondary-color;
      }
    }
  }
}
