.featured-tech {
  padding-block: 6rem 12rem;

  &__wrapper {
    max-width: 53.75rem;
    margin-inline: auto;
    text-align: center;
  }

  &__sub-title {
    text-transform: uppercase;
    margin-bottom: 1.25rem;
  }

  &__title {
    text-transform: capitalize;
    margin-bottom: 3.75rem;
  }

  &__grid {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1.5rem;
    max-width: 81.25rem;
    margin-inline: auto;

    &-image {
      position: relative;
      height: 500px;
      border-radius: 1.25rem;
      width: calc(33.33% - 1rem);
      cursor: pointer;

      img {
        height: 100%;
        width: 100%;
        border-radius: 1.25rem;
        object-fit: cover;
        overflow: hidden;
      }

      &-content {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: -4rem;
        width: 80%;
        padding: 1.5625rem;
        border-radius: 1.25rem;
        background: $white-color;
        z-index: -10;
        opacity: 0;
        transition: all 0.2s;

        &-desc {
          color: $steel-blue-color;
        }

        &-btn {
          position: absolute;
          top: -1.25rem;
          right: -1.25rem;
          width: 3.125rem;
          height: 3.125rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background: $secondary-color;
        }
      }

      &:hover &-content {
        bottom: 2rem;
        opacity: 1;
        z-index: 10;
      }

      &::after {
        position: absolute;
        border-radius: 1.25rem;
        left: 0;
        top: 0;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, #010d4c10, #010d4c85);
        opacity: 0;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }
}
