.footer {
  padding-block: 6.25rem;
  background-color: $black-color;
  display: flex;

  @media (max-width: $xlg) {
    padding-block: 5rem;
  }

  & > div {
    width: 25%;
  }

  &__logo {
    &-image {
      margin-bottom: 3.125rem;
      width: 5rem;
      height: 5rem;

      @media (max-width: $xlg) {
        margin-bottom: 2.5rem;
        width: 4rem;
        height: 4rem;
      }
    }

    &-desc {
      color: $white-color;
      margin-bottom: 1.875rem;
      max-width: 70%;

      @media (max-width: $xlg) {
        margin-bottom: 1.5rem;
        max-width: 90%;
      }
    }

    &-link {
      display: inline-block;
      padding: 1rem 1.875rem;

      @media (max-width: $xlg) {
        padding: 0.75rem 1.5rem;
      }
    }
  }

  &__links {
    padding-top: 3.125rem;

    @media (max-width: $xlg) {
      padding-top: 2.5rem;
    }

    h3 {
      display: inline-block;
      color: $white-color;
      font-size: 1.5rem;
      margin-bottom: 2.5rem;
      position: relative;

      @media (max-width: $xlg) {
        font-size: 1.2rem;
        margin-bottom: 2rem;
      }

      &::before,
      &::after {
        position: absolute;
        content: "";
        height: 0.125rem;
        bottom: -0.3125rem;
        width: 40%;
        background: $secondary-color;
        left: 0;
      }

      &::before {
        background: #d9d9d9;
        width: 10%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    li {
      display: flex;
      margin-bottom: 0.3125rem;

      @media (max-width: $xlg) {
        margin-bottom: 0.25rem;
      }

      .secondary-body-text {
        color: $white-color;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1.25rem;
        line-height: 2.5rem;

        @media (max-width: $xlg) {
          line-height: 2rem;
        }
      }

      svg {
        width: 1.5625rem;
        height: 1.5625rem;
      }

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .email-signup__content-input {
      position: relative;
      margin-bottom: 3.125rem;

      input {
        width: 100%;
        padding: 1.5625rem 6.25rem 1.5625rem 1.5625rem;
      }

      .btn {
        position: absolute;
        height: 80%;
        width: 4.375rem;
        padding: 0;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);

        &:hover svg path {
          fill: $secondary-color;
        }
      }
    }

    &-social {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1.25rem;

      a {
        width: 2.5rem;
        height: 2.5rem;
        padding: 10px;
        background: $ebony-color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;

        &:hover {
          background: $secondary-color;
        }

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.subfooter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 2rem;
  background: $black-color;
  color: $white-color;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
