.marketing {
  padding-block: 6rem 3.75rem;
  background: $secondary-color;

  &__title {
    text-align: center;
    margin-bottom: 6.25rem;
  }

  &__row {
    display: flex;
    justify-content: flex-start;

    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }

    &-col {
      width: 33.33%;
      padding: 3.75rem;
      position: relative;

      &:not(:last-child)::after {
        position: absolute;
        content: "";
        background: $white-color;
        width: 0.0625rem;
        height: 100%;
        top: 0;
        right: 0;
        opacity: 0.4;
      }

      &-heading {
        font-size: 1.5rem;
        line-height: 2.375rem;
      }

      &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.25rem;

        .inter-body-text {
          font-size: 2rem;
          line-height: 2.375rem;
          font-weight: $semi-bold;
        }

        a {
          min-width: 2.1875rem;
          min-height: 2.1875rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white-color;
          border: 0.125rem solid $white-color;
          border-radius: 50%;
          font-size: 1.25rem;
          font-weight: $bold;
        }
      }
    }
  }
}
