@font-face {
  font-family: "Epilogue";
  src: url("../fonts/Epilogue-Light.eot");
  src: url("../fonts/Epilogue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Epilogue-Light.woff2") format("woff2"), url("../fonts/Epilogue-Light.woff") format("woff"), url("../fonts/Epilogue-Light.ttf") format("truetype"),
    url("../fonts/Epilogue-Light.svg#Epilogue-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Epilogue";
  src: url("../fonts/Epilogue-Black.eot");
  src: url("../fonts/Epilogue-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Epilogue-Black.woff2") format("woff2"), url("../fonts/Epilogue-Black.woff") format("woff"), url("../fonts/Epilogue-Black.ttf") format("truetype"),
    url("../fonts/Epilogue-Black.svg#Epilogue-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Epilogue";
  src: url("../fonts/Epilogue-Bold.eot");
  src: url("../fonts/Epilogue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Epilogue-Bold.woff2") format("woff2"), url("../fonts/Epilogue-Bold.woff") format("woff"), url("../fonts/Epilogue-Bold.ttf") format("truetype"),
    url("../fonts/Epilogue-Bold.svg#Epilogue-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Epilogue";
  src: url("../fonts/Epilogue-Regular.eot");
  src: url("../fonts/Epilogue-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Epilogue-Regular.woff2") format("woff2"), url("../fonts/Epilogue-Regular.woff") format("woff"), url("../fonts/Epilogue-Regular.ttf") format("truetype"),
    url("../fonts/Epilogue-Regular.svg#Epilogue-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Epilogue";
  src: url("../fonts/Epilogue-Medium.eot");
  src: url("../fonts/Epilogue-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Epilogue-Medium.woff2") format("woff2"), url("../fonts/Epilogue-Medium.woff") format("woff"), url("../fonts/Epilogue-Medium.ttf") format("truetype"),
    url("../fonts/Epilogue-Medium.svg#Epilogue-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Epilogue";
  src: url("../fonts/Epilogue-SemiBold.eot");
  src: url("../fonts/Epilogue-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Epilogue-SemiBold.woff2") format("woff2"), url("../fonts/Epilogue-SemiBold.woff") format("woff"), url("../fonts/Epilogue-SemiBold.ttf") format("truetype"),
    url("../fonts/Epilogue-SemiBold.svg#Epilogue-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Light.eot");
  src: url("../fonts/KumbhSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/KumbhSans-Light.woff2") format("woff2"), url("../fonts/KumbhSans-Light.woff") format("woff"), url("../fonts/KumbhSans-Light.ttf") format("truetype"),
    url("../fonts/KumbhSans-Light.svg#KumbhSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Medium.eot");
  src: url("../fonts/KumbhSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/KumbhSans-Medium.woff2") format("woff2"), url("../fonts/KumbhSans-Medium.woff") format("woff"), url("../fonts/KumbhSans-Medium.ttf") format("truetype"),
    url("../fonts/KumbhSans-Medium.svg#KumbhSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Regular.eot");
  src: url("../fonts/KumbhSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/KumbhSans-Regular.woff2") format("woff2"), url("../fonts/KumbhSans-Regular.woff") format("woff"), url("../fonts/KumbhSans-Regular.ttf") format("truetype"),
    url("../fonts/KumbhSans-Regular.svg#KumbhSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot");
  src: url("../fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("truetype"),
    url("../fonts/Inter-Regular.svg#Inter-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.eot");
  src: url("../fonts/Inter-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff"), url("../fonts/Inter-Light.ttf") format("truetype"),
    url("../fonts/Inter-Light.svg#Inter-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
