html {
  font-size: 16px;
}

body {
  font-family: $primary-font;
  background: $white-color;
}

.h1 {
  font-size: 5.75rem;
  line-height: 6.875rem;
  color: $white-color;
  font-weight: $semi-bold;
}

.h2 {
  font-size: 3.75rem;
  line-height: 4.5rem;
  color: $black-color;
  font-weight: $semi-bold;
}

.h2-light {
  font-size: 3.4375rem;
  line-height: 3.4375rem;
  color: $white-color;
  font-weight: $semi-bold;
}

.h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: $black-color;
  font-weight: $medium;
}

.h4 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: $secondary-color;
  font-weight: $bold;
  letter-spacing: 0.25rem;
}

.primary-body-text {
  font-size: 1.25rem;
  line-height: 2rem;
  font-family: $secondary-font;
  color: $steel-blue-color;
  font-weight: $regular;
}

.secondary-body-text {
  font-size: 1rem;
  line-height: 2rem;
  font-family: $secondary-font;
  color: $black-color;
}

.inter-body-text {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-family: $intern-font;
  color: $white-color;
}

.page-width {
  max-width: $page-width;
  margin-inline: auto;
  padding-inline: 5rem;
}

@media (max-width: $md) {
  .page-width {
    padding-inline: 1.5rem;
  }
}
