//Colors
$primary-color: #303030;
$secondary-color: #f35162;
$black-color: #171717;
$white-color: #ffffff;
$steel-blue-color: #67687a;

//Page Width
$page-width: 120rem;

//Fonts
$primary-font: "Epilogue", sans-serif;
$secondary-font: "Kumbh Sans", sans-serif;
$intern-font: "Inter", sans-serif;

//Font Weight
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black: 900;

//Media Queries
$xl: 1920px;
$xlg: 1440px;
$lg: 1024px;
$md: 768px;
$sm: 480px;
